* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background: #234;
  justify-content: center;
  align-items: center;
  
  font-family: "Open Sans", sans-serif;
  color: #eff;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.04em;
}

h3 {
  font-size: 1.5rem;
}

#attribution {
  color: #a36;
  letter-spacing: 0.18em;
  text-decoration: underline;
}

#game-con {
  margin: 1.75rem 0;
  border: 11px solid #89a;
  padding: 1.5rem;
}



#info-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background: repeating-linear-gradient(180deg, white 0px 3px, #f4f4f4 6px 9px, white 12px);
  color: #123;
}

#info-con > div {
  font-style: serif;
  text-align: center;
  letter-spacing: 0.05em;
}

#score {
  font-size: 2.5rem;
  padding: 0.3em 0;
  font-weight: 500;
  margin: 0 1em;
}

#combo, #lines-cleared {
  font-size: 1.3rem;
  padding: 0.1em 0;
  font-weight: 100;
}

#info-con > div  {
  background: white;
  padding: 0.15em 0.5em;
  border: 3px solid dodgerblue;
}



#peice-chooser {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: repeating-linear-gradient(180deg, white 0px 3px, #f4f4f4 6px 9px, white 12px);
}

.image-con {
  height: 100px;
  width: 100px;
  background: #567;
  border: 3px solid dodgerblue;
}

canvas {
  background: #567;
}